body {
    margin-top: 3rem;
    margin-bottom: 5rem;
    background-color: #C2D7F2;
}
.container {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    border-bottom: 0px solid red;
    background-color: #6581A6;
    height: 5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
header h1 {
    flex-basis: 40%;
    font-size: 2.5rem;
    padding-left: 5rem;
    margin-bottom: 0;
    margin-top: 1rem;
    color: #ffffff;
    font-family: 'Cabin', sans-serif;
}
header p {
    text-align: right;
    flex-basis: 60%;
    margin-top: 2rem;
    padding-top: 1.5rem;
    padding-right: 4rem; 
    margin-bottom: 0;
}
header a {
    text-decoration: none;
    padding: 0 2rem;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Cabin', sans-serif;
}
header a:hover {
    border-bottom: 6px solid rgb(136, 136, 247);
}

section {
    display: flex;
    flex-flow: row nowrap;
    border: 0px solid white;
    justify-content: space-around;
    padding: 3rem 0;
    background-color: #ADBCD9;
    font-family: 'Patrick Hand', cursive;
}
section article{
    width: 12rem;
    height: 17rem;
    border: 0px solid green;
    margin: 3rem 1rem; 
    padding: 0.6rem;
    font-family: 'Jaldi', sans-serif;
    line-height: 1;
    border-radius: 0.5rem;
}
section article:not(.with-image) {
    background-color: #F0F1F2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section article h1 {
    margin: 0 0 1rem 0;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 0.2rem solid grey;
    padding-bottom: 0.1rem;
}
section .left {
    flex-basis: auto;
}
section .center {
    flex-basis: auto;
}
.center-it {
    margin: 2rem auto; 
}
section ul {
    list-style-type: none;
    border: 0px solid red;
    padding: 0.5rem 0;
    margin: 0;
    border-radius: 2rem;
}
section li{
    padding:0 0 0.6rem 0.2rem;
    text-align: center;
    font-weight: bold;
}
.center .with-image {
    width: 18rem;
    text-align: center;
    padding: 0;
    height: 16rem;
    margin: 8rem 1rem;
}
section .right {
    flex-basis: auto;
}
img {
    border: 0.5rem double black;
    position: relative;
    border-radius: 25rem;
    margin: 0;
}
section a{
    text-decoration: none;
    color: green;
    font-weight: bold;
    display: block;
}
section a:hover {
    color: rgb(81, 173, 81);
}
.left, .right {
    margin: auto 1rem;
}
footer {
    background-color: rgb(202, 154, 247);
    padding: 1rem 0 ;
    text-align: center;
    color: rgb(41, 40, 40);
    font-family: 'Cabin', sans-serif;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


/*-------------------------------------------------------FORM----------------------------------------------------*/

form {
    border: 0px solid red;
    width: 70%;
    margin: 3rem auto;
    background-color: #494949;
    border-radius: 10px; 
    padding-bottom: 1rem;
}
form h1 {
    border: 0px solid yellow;
    margin: 0;
    text-align: center;
    padding: 1rem 0;
    color: #F1C50E;
    font-size: 2rem;
    background-color: #3a3939;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Cabin', sans-serif;
}
form p{
    border: 0px solid blue;
    margin: 0;
    text-align: center;
    padding: 0.3rem 0;
    color: white;
    background-color: #3a3939;
    font-family: 'Cabin', sans-serif;
}
fieldset {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 2rem 2rem;
    margin: 3rem 3rem;
    background-color: rgb(145, 144, 144);
    border-radius: 10px;
    font-family: 'Patrick Hand', cursive;
}
label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
input {
    display: block;
    margin-bottom: 1rem; 
    height: 1.5rem;
    border-radius: 0.2rem;
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
}
select {
    display: block;
    margin-bottom: 1rem; 
    height: 1.5rem;
    border-radius: 0.2rem;
    border: none;
    font-size: 1rem;
}
textarea {
    display: block;
    margin-bottom: 2rem; 
    height: 10rem;
    border-radius: 0.2rem;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
}
button {
    width: 10rem;
    margin: 0 auto;
    padding: 0.6rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: #ddb30a;
    color: white;
}

button:hover {
    background-color: #F1C50E;
}